@import "../../constants/colors.scss";

.title_container {
    margin-top: 75px;
}
.title {
    color: $black;
    font-size: 26px;
    text-align: center;
}
.subtitle {
    color: $text-dark-grey;
    font-size: 14px;
    text-align: center;
    padding-top: 12px;
}