@import "../../constants/colors.scss";

.input_text {
    display: block;
    height: 32px;
    margin: auto;
    padding: 2px 15px;
    margin-top: 4px;
    width: 100%;
    box-sizing: border-box;
    border: 0.75px solid $text-grey;
    border-radius: 4px;
    &.error {
        border-color: red;
    }
}
.input_label {
    font-weight: 600;
    color: $label-text-grey;
    font-size: 14px;
}
.mt12 {
    margin-top: 12px;
}