@import "../../constants/colors.scss";

.input_text {
    display: block;
    height: 32px;
    margin: auto;
    padding: 2px 15px;
    margin-top: 4px;
    width: 100%;
    box-sizing: border-box;
    border: 0.75px solid $text-grey;
    &.split {
        border-radius: 0 4px 4px 0;
    }
}
.option-text {
    color: $label-text-grey;
    font-size: 13px;
}
.input_label {
    font-weight: 600;
    color: $label-text-grey;
    font-weight: 14px;
    margin-top: 12px;
}
.split_label {
    margin-top: 12px;
}
.input_split {
    display: flex;
    flex-direction: row;
    .split_default {
        background-color: $bg-grey;
        margin-top: 4px;
        font-size: 12px;
        padding: 7px 10px;
        border: 0.75px solid $text-grey;
        color: $label-text-grey;
        border-right: 0;
        border-radius: 4px 0 0 4px;
    }
}