.title {
    font-weight: bolder;
    font-size: 26px;
    text-align: center;
    letter-spacing: -0.3px;
    svg {
        width: 36px;
    height: 36px;
    position: relative;
    top: 10px;
    }
}