@import "../../constants/colors.scss";

.progress_bar {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    margin-top: 58px;
}
.number_box {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: $base-color;
    color: $white;
    position: relative;
    &.future {
        background-color: $white;
        color: $black;
        border: 0.3px solid $text-grey;
    }
    .box_inner_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.number_line {
    width: 20%;
    height: 1px;
    position: relative;
    background: $base-color;
    top: 17px;
    &.current {
        background: linear-gradient(to right, $base-color, $base-color 50%, $text-grey 50%);
    }
    &.future {
        background: $text-grey;
    }
}